<div class="container-fluid navbar">
<nav class=" navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <div class="navbar-brand"><img src="client/img/shield.png" /></div>
  </div>
  <div class="">
    <div class="nav navbar-nav navbar-left">
        <span class="clock">{{ clock  | date:'mediumTime'}}</span>
    </div>
    <div class="nav navbar-nav navbar-right">
	  <span ng-click="volumeControl()" class="navLink"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Volume Control </span>&nbsp;
      <span ng-click="logoff()" class="navLink"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</span>
    </div>
  </div>
</nav>
</div>
